/*--------------------------------Main Containers-----------------------------*/
body {
	border: 2px solid red;
	min-height: 100vh;
	margin: 0;
	padding: 0;
	font-family: Roboto, sans-serif;
}

/*--------------------------Main Containers Endig---------------------------*/

/*##########################################################################*/



/*--------------------------------Header-----------------------------*/
.header {
	border: 2px solid yellow;

}

/*--------------------------------Header Ending-----------------------------*/


/*##########################################################################*/

/*--------------------------------Hero-----------------------------*/
.hero-section {
	border: 2px solid yellow;

}

/*--------------------------------Hero Ending-----------------------------*/


/*##########################################################################*/

/*--------------------------------Info-----------------------------*/
.info-section {
	border: 2px solid yellow;

}

/*--------------------------------Info Ending-----------------------------*/


/*##########################################################################*/

/*--------------------------------Quote-----------------------------*/
.quote-section {
	border: 2px solid yellow;

}

/*--------------------------------Quote Ending-----------------------------*/


/*##########################################################################*/

/*--------------------------------Action-----------------------------*/
.action-section {
	border: 2px solid yellow;

}

/*--------------------------------Action Ending-----------------------------*/


/*##########################################################################*/

/*--------------------------------Footer-----------------------------*/
.footer {
	border: 2px solid yellow;

}

/*--------------------------------Footer Ending-----------------------------*/