@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
	border: 2px solid red;
	overflow: hidden;
	height: 100vh;
	margin: 0;
	font-family: Roboto, sans-serif;

	display: flex;
	justify-content: center;
 }

 #Main-Container {
	border: 2px solid green;
	height: 100%;
	width: 90%;

	display: flex;
	flex-direction: column;
	
 }

.header {
	border: 2px solid yellow;

 }

.content {
	border: 2px solid yellow;
	flex-grow: 1;

 }

.footer {
 	border: 2px solid yellow;

 }


